.tab{
  width: 130px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.favorite:hover{
  color:#2231AA;
}

.all:hover{
  color:#2231AA;
}

.popular:hover{
  color:#2231AA;
}

.tabs{
  width: 100%;
}

.tabs-container{
  display: flex;
  border-bottom: 1px solid #DADADA;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 64px;
}

.title-bloglight{
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 56px;
  font-weight: 700;
  font-family: inter;
}

.title-blogdark{
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 56px;
  font-weight: 700;
  font-family: inter;
}

.myTablight{
  color: black;
  font-size: 18px;
  text-align: center;
  border: none;
  border: none; 
  outline: none;
  background-color: transparent;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.myTabdark{
  color: white;
  font-size: 18px;
  text-align: center;
  border: none;
  border: none; 
  outline: none;
  background-color: transparent;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.all{
  width: 100px;
  height: 48px;
  padding: 0px, 40px, 24px, 40px;
  border-bottom: 1px solid black;
}

.favorite{
  width: 176px;
  height: 48px;
  padding: 0px, 40px, 24px, 40px;
  cursor: pointer;
}

.popular{
  width: 140px;
  height: 48px;
  padding: 0px, 40px, 24px, 40px;
}